/*=================================
======Stylesheet for index.html=========
==================================*/

body
{
 background: url(icons/10815330_10152576037203865_1306231061_o.jpg);
 background-size: 100% 100%;
 color:rgb(000, 000, 000);
 text-align:left;
 padding:0px;
 margin:0px;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 font-weight: 300;
}

/*=====Article headers=====*/
h1,h2,h3,h4,h5,h6
{
color: #ac060f;
}

a:link, a:visited 
{
text-decoration: none;
color: #ac060f;
}

a:hover, a:active 
{
text-decoration: none;
background-color: #ce2327;
color: #fff;
}

/*=====Body content width=====*/
.body
{
clear:both;
margin:0 auto;
width:80%;
}

/*=====Header area=====*/
#pagetop
{
position:fixed;
top:0px;
width:80%;
height:120px;
background-image:url(icons/kebab.png);
background-size:100% 100%;
font-size:23px;
padding-top:50px;
overflow:hidden;
z-index:200;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

/*=====Navigation bar=====*/
#navigation 
{
background: #ac060f;
width: 100%;
border-radius: 5px;
position:absolute;
bottom: 0px;
}

#navigation ul 
{
list-style: none;
line-height: 1;
display: block;
margin: 0;
padding: 0;
}

#navigation ul:after 
{
content: " ";
display: block;
clear: both;
visibility: hidden;
font-size: 0;
height: 0;
}

#navigation ul li 
{
padding: 0;
margin: 0;
display: inline-block;
}

#navigation.align-right ul li 
{
float: right;
}

#navigation.align-center ul 
{
text-align: center;
}

#navigation ul li a 
{
color: #ffffff;
text-decoration: none;
display: block;
padding: 15px 30px;
font-family: 'Lucida Sans Unicode';
font-weight: 800;
text-transform: uppercase;
font-size: 13px;
position: relative;
}

#navigation ul li a:hover:before 
{
width: 100%;
}

#navigation ul li a:after 
{
content: "";
display: block;
position: absolute;
height: 6px;
width: 6px;
right: -6px;
top: 20px;
background: rgb(255, 255, 255);
-moz-border-radius: 10px;
-webkit-border-radius: 10px;	
}

#navigation ul li a:before 
{
content: "";
display: block;
position: absolute;
height: 2px;
width: 0;
left: 0;
bottom: 0;
background: rgb(255, 255, 255);
}

#navigation ul li.last > a:after,
#cssmenu ul li:last-child > a:after 
{
display: none;
}

#navigation.align-right li.last > a:after,
#navigation.align-right li:last-child > a:after 
{
display: block;
}

#navigation.align-right li:first-child a:after 
{
display: none;
}

@media screen and (max-width: 768px) {
#navigation ul li 
{
float: none;
display: block;
}

#navigation ul li a 
{
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
border-bottom: 1px solid #fb998c;
}

#navigation ul li.last > a,
#navigation ul li:last-child > a 
{
border: 0;
}

#navigation ul li a:after 
{
display: none;
}

#navigation ul li a:before 
{
display: none;
}
}

/*=====Content area=====*/
.container 
{
overflow: hidden;
margin-top:200px;
line-height: 25px;
border-radius: 5px;
}

.top-content 
{
background-color: #FFF;
border-radius: 5px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;	
padding: 3% 5%;	
margin-bottom: 1%;
}

.mid-content
{
background-color: #FFF;	
border-radius: 5px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;	
padding: 3% 5%;
margin-bottom: 1%;
}

.mid-content  p
{
text-align:left;
}

.mid-content img
{
float:left;
width:50% ;
height:260px;
margin-right:1%;
}

.bottom-content 
{
background-color: #FFF;	
border-radius: 5px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;	
padding: 3% 5%;
margin-bottom: 1%;
}

.bottom-content  p
{
text-align:left;
}

.bottom-content img
{
float:left;
width:50%;
height:260px;
margin-right:1%;
}

.content 
{
width: 68%;
float: left;
border-radius: 5px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;	
}

/*=====Sidebar area=====*/
.sidebar1 
{
width: 24%;
float: left;
margin-left: 1%;
border-radius: 5px;	
background-color: #FFF;	
padding: 2% 3%;
margin-bottom: 1%;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;	
}

#list2 
{ 
width:100%; 
}

#list2 ol 
{ 
font-style:italic; 
font-family:Georgia, Times, serif; 
font-size:24px; 
color:#bfe1f1;  
}

#list2 ol li 
{}

#list2 ol li p 
{ 
padding:8px; 
font-style:normal; 
font-family:Arial; 
font-size:13px; 
color:rgb(000, 000, 000); 
border-left: 1px solid #999; 
}

#list2 ol li p em 
{ 
display:block; 
}

.sidebar2 
{
width: 24%;
float: left;
margin-left: 1%;
border-radius: 5px;
background-color: #FFF;	
margin-bottom: 1%;
padding:2% 3%;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;	
}

.sidebar3 
{
width: 24%;
float: left;
margin-left: 1%;
border-radius: 30px;
background-color: #FFF;	
padding: 2% 3%;
margin-bottom: 1%;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;	
}

.sidebar4 
{
width: 24%;
float: left;
margin-left: 1%;
border-radius: 35px;
background-color: #FFF;	
padding: 2% 3%;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;	
}
/*=====Sideslider in content area=====*/

#slider 
{
height: 350px;
width: 100%;
margin: 2px auto; 
position:relative;
border-radius:4px;
overflow:hidden;
}

#image 
{
height: 350px;
width: 100%;  
float: left;
}

.left_hold 
{
height: 350px;
width: 100px;
position: absolute;
top: 0px;
left: 0px;
}

.right_hold 
{
height: 350px;
width: 100px;
position: absolute;
top: 0px;
right: 0px;
}

.leftway 
{
height:50px;
width:50px;
position:absolute;
top:40%;
left:20px;
}

.rightway 
{
height:50px;
width:50px;
position:absolute;
top:40%;
right:20px;
}

.left_hold:hover .leftway 
{
opacity:0.6;
}

.right_hold:hover .rightway 
{
opacity:0.6;
}

.left:hover .left1
.footer
{}

.mainFooter p 
{
width: 100%;
margin: 2% auto;
background-color:#ccc;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding-left: 0;
text-align:center;
}

/*=====Social media buttons=====*/
#twitt
{
float: left;
}

#faceb
{
float: left;
overflow:hidden;
width:100px;
height:20px;
float:left;
z-index: 200;
top: 0px;
}

#insta
{
float: left;
z-index: 1;
}